<!DOCTYPE html>
<html>
  <head>
    <% if(filename){ %>
    <link rel="icon" type="image/x-icon" href="/<%= filename %>.png" />
    <% } %>
  </head>
  <body>
    <a href="/<%= filename %>.png">
      <img src="/<%= filename %>.png" , alt="<%= filename %> Favicon" />
    </a>
  </body>
</html>
