<!DOCTYPE html>
<html>
  <head>
    <% if(filename){ %>
    <link rel="icon" type="image/x-icon" href="/<%= filename %>.png" />
    <% } %>
  </head>
  <body>
    <img href="/<%= filename %>.png" src="/<%= filename %>.png" , alt="<%= filename %> Favicon" />
  </body>
</html>
